#header {
    text-align: center;
}

body {
    background-color: #152B42;
    font-family: 'Quicksand', sans-serif;
    color: white;
}



h3 {
    font-size: 150%;
}

input {
    font-size: 150%;
}

form {
    width: 600px;
}

#fields {
    font-family: 'Quicksand', sans-serif;
    padding-top: 50px;
    position: absolute;
    left: 35%;
}

#logBtn {
    text-align: center;
}