    body{
        opacity:0.9;
        width:100%;
        text-align:center;
        color:  #008B8B;
        
  
    }
    
    input {
        font-size: 3em;
        color:  #008B8B;
        border-radius: 15px;
    }
    
    #carousel-example-generic {
         margin: 0 auto;   
         width: 700px;
    }