body {
    background-color:black;
    color:gray;
    }
    
    header, main, nav, footer {
        text-align: center;
    }
    
    nav a {
        /* links within "nav container" */
        padding:15px;
        padding-bottom:4px;
        font-size: 1.8em;
        text-decoration: none; /*removes underline*/
        color:white;
    }
    nav a:hover { /*pseudo class*/
    border-bottom:2px orange solid; 
    font-size: 2em;
    transition: .9s;
    }
    
    #me{
        float:center;
    }
    #welcomeText
    {
        float:left;
    }
    
    footer {
        clear: left;
        font-size:.7em;
        color:orange;
    }